
<div id="accordion">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h5 class="mb-0">
				<button class="btn btn-block collapsed btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
					aria-controls="collapseOne">
					Add / Edit Asset
				</button>
			</h5>
		</div>
		<div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-6">
                        <app-add-assets></app-add-assets>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-6">
                        <app-edit-assets></app-edit-assets>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingTwo">
			<h5 class="mb-0">
				<button class="btn btn-block btn-link" data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo">
					View Assets
				</button>
			</h5>
		</div>
		<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<div class="row">
					<div class="col-12 ">
                        <app-view-assets></app-view-assets>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>