<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 col-md-offset-5">
        <div class="jumbotron">
            <form [formGroup]="angForm" (ngSubmit)="postData(angForm)" autocomplete="off">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" formControlName="email" autocomplete="off"
                        class="form-control input-sm" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" formControlName="password" autocomplete="off"
                        class="form-control input-sm" placeholder="Password">
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <a class="" routerLink="/register"><input type="button" class="btn btn-warning btn-block" value="Register"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5">
    </div>
</div>